In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager as CDM
from config import chromeDriver
import pandas as pd
import time

## Red Planet Science
- URL: https://redplanetscience.com/
- Pull recent news stories about Mars

In [2]:
url = "https://redplanetscience.com"

In [3]:
browser = Browser("chrome", executable_path=chromeDriver, headless=True)

In [4]:
browser.visit(url)
browser.is_element_present_by_css("div.list_text", wait_time=3)

True

In [5]:
html = browser.html
soup = bs(html, "html.parser")

Website Content Article Structure:
- tag: div class="row"
  - tag: div class = "list_text"
    - tag: div class = "list_date"
    - tag: div class = "content_title"
    - tag: div class = "article_teaser_body"

In [6]:
article = soup.find("div", attrs={"class":"row"})
news_title = article.find('div', attrs={"class":"content_title"}).get_text()
news_date = article.find("div", attrs={"class":"list_date"}).get_text()
news_summary = article.find("div", attrs={"class":"article_teaser_body"}).get_text()
{"title" : news_title, "date" : news_date, "summary" : news_summary}

{'title': 'Space History Is Made in This NASA Robot Factory',
 'date': 'August 18, 2022',
 'summary': "From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special."}

## Space Images
- URL https://spaceimages-mars.com/
- Pull recent images of Mars

In [7]:
url = "https://spaceimages-mars.com/"
browser.visit(url)
browser.is_element_present_by_text("FULL IMAGE", wait_time=3)   
browser.links.find_by_partial_text("FULL IMAGE").click()

In [8]:
html = browser.html
soup = bs(html, "html.parser")

In [9]:

soup.find("img", attrs={"class":"fancybox-image"})

In [10]:
image_url = soup.find("img", attrs={"class":"fancybox-image"}).get("src")
new_url = url+image_url
new_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

## Mars Facts
- URL:  https://galaxyfacts-mars.com/
- Pull statistical information for the web app

In [11]:
url = "https://galaxyfacts-mars.com/"
browser.visit(url)

In [12]:
soup = bs(browser.html, "html.parser")

In [13]:
soup

<html><head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/font.css" rel="stylesheet" type="text/css"/>
<link href="css/app.css" rel="stylesheet" type="text/css"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<title>Mars Facts - Interesting facts about Planet Mars</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
<div class="container">
<a class="navbar-brand" href="#"> <img src="image/logo.png"/>
</a>
<button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a aria-current="page" class="nav-link active" href="#">Planets</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Solar System</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Galaxies</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Moons</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Universe</a>
</li>
<li class="nav-item nav_search">
<a class="nav-link" href="#"><i aria-hidden="true" class="fa fa-search"></i></a>
</li>
</ul>
</div>
</div>
</nav>
<div class="container-fluid site-content" style="margin-top: 150px;">
<div class="col-md-12">
<div class="row">
<div class="col-md-8">
<div class="content-single">
<h2 class="page-title">Mars Facts</h2>
<img class="img-fluid" src="https://space-facts.com/wp-content/uploads/mars.jpg"/>
<p class="mt-5">Mars is the fourth planet from the <span class="red"> Sun </span> and is the second smallest planet in the solar system. Named after the Roman god of war, Mars is also often described as the “Red Planet” due to its reddish appearance. Mars is a <span class="red">terrestrial planet</span> with a thin atmosphere composed primarily of carbon dioxide.</p>
<h3>Facts about Mars</h3>
<ul class="mt-3">
<li>
<h5>Mars and Earth have approximately the same landmass.</h5>
<p>Even though Mars has only 15% of the Earth’s volume and just over 10% of the <span class="red">Earth’s</span> mass, around two thirds of the Earth’s surface is covered in water. Martian surface gravity is only 37% of the Earth’s (meaning you could leap nearly three times higher on Mars).</p>
</li>
<li>
<h5>Mars is home to the tallest mountain in the solar system.</h5>
<p><span class="red">Olympus Mons</span>, a shield volcano, is 21km high and 600km in diameter. Despite having formed over billions of years, evidence from volcanic lava flows is so recent many scientists believe it could still be active.</p>
</li>
<li>
<h5>Only 18 missions to Mars have been successful.</h5>
<p>As of September 2014 there have been 40 <span class="red"> missions to Mars</span>, including orbiters, landers and rovers but not counting flybys. The most recent arrivals include the Mars Curiosity mission in 2012, the MAVEN mission, which arrived on September 22, 2014, followed by the Indian Space Research Organization’s MOM Mangalyaan orbiter, which arrived on September 24, 2014. The next missions to arrive will be the European Space Agency’s ExoMars mission, comprising an orbiter, lander, and a rover, followed by NASA’s InSight robotic lander mission, slated for launch in March 2016 and a planned arrival in September, 2016.</p>
</li>
<li>
<h5>Mars has the largest dust storms in the solar system.</h5>
<p>They can last for months and cover the entire planet. The seasons are extreme because its elliptical (oval-shaped) orbital path around the Sun is more elongated than most other planets in the solar <span class="red"> system.</span></p>
</li>
<li>
<h5>On Mars the Sun appears about half the size as it does on Earth.</h5>
<p>At the closest point to the Sun, the Martian southern hemisphere leans towards the Sun, causing a short, intensely hot summer, while the northern hemisphere endures a brief, cold winter: at its farthest point from the Sun, the Martian northern hemisphere leans towards the Sun, causing a long, mild summer, while the southern hemisphere endures a lengthy, cold winter.</p>
</li>
<li>
<h5>Pieces of Mars have fallen to Earth.</h5>
<p>Scientists have found tiny traces of Martian atmosphere within meteorites violently ejected from Mars, then orbiting the solar system amongst galactic debris for millions of years, before crash landing on Earth. This allowed scientists to begin studying Mars prior to launching space missions.</p>
</li>
<li>
<h5>Mars takes its name from the Roman god of war.</h5>
<p>The ancient Greeks called the planet Ares, after their god of war; the Romans then did likewise, associating the planet’s blood-red colour with Mars, their own god of war. Interestingly, other ancient cultures also focused on colour – to China’s astronomers it was ‘the fire star’, whilst Egyptian priests called on ‘Her Desher’, or ‘the red one’. The red colour Mars is known for is due to the rock and dust covering its surface being rich in iron.</p>
</li>
<li>
<h5>There are signs of liquid water on Mars.</h5>
<p>For years Mars has been known to have water in the form of ice. The first signs of trickling water are dark stripes or stains on crater wall and cliffs seen in satellite images. Due to Mars’ atmosphere this water would have to be salty to prevent it from freezing or vaporising.</p>
</li>
<li>
<h5>One day Mars will have a ring.</h5>
<p>In the next 20-40 million years Mars’ largest moon Phobos will be torn apart by gravitational forces leading to the creation of a ring that could last up to 100 million years.</p>
</li>
<li>
<h5>Sunsets on Mars are blue.</h5>
<p>During the martian day the sky is pinkish-red, this is the opposite of the Earth’s skies.</p>
</li>
</ul>
<h3 class="mt-5">Mars Diagrams</h3>
<div class="diagram mt-4">
<img src="https://space-facts.com/wp-content/uploads/mars-size.png" width="90%"/>
<p><span class="orange"><b> Mars </b></span>size compared to <span class="purple"><b> Earth </b></span> </p>
<img src="https://space-facts.com/wp-content/uploads/mars-orbit.png" width="90%"/>
<p class="mt-2"><span class="orange"><b> Mars </b></span> distance from the <span class="white"><b> Sun </b></span> and orbital eccentricity</p>
<table class="table">
<tbody>
<tr>
<th scope="row"><b> Mars - Earth Comparison</b></th>
<td><span class="orange"><b> Mars</b></span></td>
<td><span class="purple"> <b>Earth </b></span> </td>
</tr>
<tr>
<th scope="row">Diameter:</th>
<td><span class="orange">6,779 km</span></td>
<td><span class="purple">12,742 km</span> </td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td><span class="orange">6.39 × 10^23 kg </span></td>
<td><span class="purple">5.97 × 10^24 kg</span> </td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td><span class="orange">2</span></td>
<td><span class="purple">1</span> </td>
</tr>
<tr>
<th scope="row">Distance from Sun:</th>
<td><span class="orange">227,943,824 km</span></td>
<td><span class="purple">149,598,262 km</span> </td>
</tr>
<tr>
<th scope="row">Length of Year:</th>
<td><span class="orange">687 Earth days</span></td>
<td><span class="purple">365.24 days</span> </td>
</tr>
<tr>
<th scope="row">Temperature:</th>
<td><span class="orange">-87 to -5 °C</span></td>
<td><span class="purple">	-88 to 58°C</span> </td>
</tr>
</tbody>
</table>
</div>
<h3 class="mt-5">Mars Features</h3>
<h4 class="mt-3">Moons</h4>
<p>Mars has two small moons, <span class="red"> Phobos </span> and <span class="red"> Deimos</span> . They were discovered in 1877 by astronomer Asaph Hall, who named them for the Latin terms “fear” and “panic”. These moons are thought to be captured asteroids and are among the smallest natural satellites in the solar system.</p>
<h4>Olympus Mons</h4>
<p>Mars has the largest volcano in the solar system – Olympus Mons. It measures some 600 kilometres across and rises nearly 27 kilometres above the surrounding terrain. It is a shield volcano built by the continuous action of flowing lava over millions and millions of years that began some 3 billion years ago.</p>
<p>Olympus Mons is part of a complex of volcanoes that lie along a volcanic plateau called the Tharsis Bulge. This entire region lies over a hotspot, a place in the planet’s crust that allows magma from deep inside to flow out to the surface.</p>
<h4>Valles Marineris</h4>
<p>The Valles Marineris is an extensive canyon system on the Mars equator. It is 4,200 kilometres long and, in places, is 7 kilometres deep. On Earth, it would span the entire North American continent and beyond.</p>
<p>Mars has has a very primitive form of plate tectonics, and the action of two plates past each other began splitting the surface some 3.5 billion years ago. That set the stage for the formation of the Valles Marineris.</p>
<h5>RELATED SPACE FACTS:</h5>
<div class="col-md-12">
<div class="row">
<div class="col-md-4" style="padding: 6px;">
<img class="img-fluid" src="https://i1.wp.com/space-facts.com/wp-content/uploads/terrestrial-planet-orbits.png?resize=350%2C200&amp;ssl=1" style="padding: 0px;"/>
<p><span class="red"> Terrestrial Planet Facts </span></p>
</div>
<div class="col-md-4" style="padding: 6px;">
<img class="img-fluid" src="https://i1.wp.com/space-facts.com/wp-content/uploads/earth.png?resize=350%2C200&amp;ssl=1" style="padding: 0px;"/>
<p><span class="red">Earth Earth Facts</span> </p>
</div>
<div class="col-md-4" style="padding: 6px;">
<img class="img-fluid" src="https://i0.wp.com/space-facts.com/wp-content/uploads/asteroid-vesta.png?resize=350%2C200&amp;ssl=1" style="padding: 0px;"/>
<p><span class="red">Asteroid Facts</span></p>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="sidebar">
<h5>MARS PLANET PROFILE</h5>
<table class="table table-striped">
<tbody>
<tr>
<th scope="row">Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th scope="row">Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td>	6.39 × 10^23 kg (0.11 Earths)</td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td>	2 ( <span class="red">Phobos </span> &amp; <span class="red"> Deimos </span>)</td>
</tr>
<tr>
<th scope="row">Orbit Distance:</th>
<td>	227,943,824 km (1.38 AU)</td>
</tr>
<tr>
<th scope="row">Orbit Period:</th>
<td>	687 days (1.9 years)</td>
</tr>
<tr>
<th scope="row">Surface Temperature:</th>
<td>	-87 to -5 °C</td>
</tr>
<tr>
<th scope="row">First Record:</th>
<td>	2nd millennium BC</td>
</tr>
<tr>
<th scope="row">Recorded By:</th>
<td>	Egyptian astronomers</td>
</tr>
</tbody>
</table>
<h5 class="mt-5">PLANETS</h5>
<div class="col-md-12 mt-3">
<div class="row">
<div class="col-md-3">
<img class="img-fluid mt-2" src="https://space-facts.com/wp-content/uploads/mercury-50x50.png"/>
</div>
<div class="col-md-9">
<p class="mt-2"><span class="red">Mercury </span> </p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/venus-50x50.png"/>
</div>
<div class="col-md-9">
<p class="mt-4"><span class="red">Venus </span> </p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/earth-50x50.png"/>
</div>
<div class="col-md-9">
<p class="mt-4"><span class="red">Earth</span> </p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/mars-50x50.jpg"/>
</div>
<div class="col-md-9">
<p class="mt-4"><span class="red">Mars </span> </p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/jupiter-50x50.png"/>
</div>
<div class="col-md-9">
<p class="mt-4"><span class="red">Jupiter</span> </p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/saturn-50x50.png"/>
</div>
<div class="col-md-9">
<p class="mt-4"><span class="red">Saturn</span> </p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/uranus-50x50.jpg"/>
</div>
<div class="col-md-9">
<p class="mt-4"><span class="red">Saturn</span> </p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/neptune-50x50.png"/>
</div>
<div class="col-md-9">
<p class="mt-4"><span class="red">Neptune</span> </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer">
<div class="container">
<p class="right">
</p><ul>
<li>Blog</li>
<li>About</li>
<li>Contact</li>
<li>Privacy Policy</li>
</ul>
<p></p>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body></html>

In [14]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
columns = tables[0].loc[0, :].to_list()
columns[0] =  "Description"
comparison_df = pd.DataFrame(tables[0].loc[1:, :])
comparison_df.columns = columns
comparison_df.set_index("Description", inplace=True)
comparison_df.rename_axis(None, axis=0, inplace=True)
comparison_df

                               Mars            Earth
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [16]:
tables[1].columns=["Description", "Information"]
tables[1]

            Description                    Information
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
stats = comparison_df.to_html()
# print(bs(stats, "html.parser").prettify())
stats

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
comparison_df

                               Mars            Earth
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

## Astrogeology USGS
- URL: https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars
- get images of the 4 hemispheres of Mars

In [19]:
url = "https://astrogeology.usgs.gov" 
search = "/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [20]:
browser.visit(url+search)
soup = bs(browser.html, "html.parser")

In [21]:
div = soup.find_all('div', attrs={"class":"item"})
print(div[0].prettify())

<div class="item">
 <a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced">
  <img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/>
 </a>
 <div class="description">
  <a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced">
   <h3>
    Cerberus Hemisphere Enhanced
   </h3>
  </a>
  <span class="subtitle" style="float:left">
   image/tiff 21 MB
  </span>
  <span class="pubDate" style="float:right">
  </span>
  <br/>
  <p>
   Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…
  </p>
 </div>
 <!-- end description -->
</div>

In [22]:
title = div[0].find('h3').text
title

'Cerberus Hemisphere Enhanced'

In [23]:
img_page =div[0].find("h3").find_parent().get("href")

In [24]:
face = [item.find("h3").find_parent().get("href") for item in div]
face

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced']

In [25]:
sm_img = [item.find("a", attrs={"class":"thumb"}).get("href")  for item in div]

AttributeError: 'NoneType' object has no attribute 'get'

In [ ]:
browser.visit(url+face[0]["next_page"])

In [ ]:
soup = bs(browser.html, "html.parser")

In [ ]:
div = soup.find("div", attrs={"class":"content"})

In [ ]:
div = soup.find("div", attrs={"class":"downloads"})
img = div.find_all("a")[1].get("href")
img

In [ ]:
mars = list()
for item in face:
    d = dict()
    browser.visit(url+item)
    time.sleep(2)  ## 
    soup = bs(browser.html, "html.parser")
    div = soup.find("div", attrs={"class":"downloads"})
    img = div.find_all("a")[1].get("href")
    div = soup.find("div", attrs={"class":"content"})
    d["title"] = div.find("h2", attrs={"class":"title"}).text
    d["hemisphere_img"] = img
    mars.append(d)

In [ ]:
mars